@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

h1 {
  text-align: center;
  font-size: 64px;
  color: #10C390;
  font-family: 'Abril Fatface', cursive;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h5 {
  text-align: center;
  font-size: 24px;

}

.active {
  border: 2px solid #91989C;
  color:#545556;
}

.active h3 {
    color: #91989C;
}

h3 {

}

#players {
  text-align: center;
}

.container {
  background: black;
}

body {
    /*background: linear-gradient( #1A1A1A, #FB95DA, 100%);*/
    color: white;
    height: auto;
    /*background-repeat: no-repeat;*/
}

.btn #roll {
    background: #5BD3FF;
}
